  body {
    min-width: 375px;
    max-width: 1440px;
    margin: 0;
    padding: 0;
  }

  /* Начало стилей для header */

  .header__menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 24px 60px 58px 42px;
    font-family: 'Montserrat-SemiBold', arial, sans-serif;
  }

  .header__nav {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    margin-left: 258px;
  }

  .header__nav a {
    text-decoration: none;
  }

  .header__nav-link_active {
    color: #e51937;
    padding-bottom: 0;
    border-bottom: solid 2px #e51937;
    border-radius: 0 0 10px 10px / 0 0 2px 2px;
  }

  .header__nav-link-modelx,
  .header__nav-link-model3,
  .header__nav-link-roadster,
  .header__nav-link-energy {
    color: #000;
  }

  .header__nav-link-models {
    margin-right: 58px;
    padding: 0;
  }

  .header__nav-link-modelx {
    margin-right: 20px;
  }

  .header__nav-link-model3 {
    margin-right: 42px;
  }

  .header__nav-link-roadster {
    margin-right: 42px;
  }

  .header__auth {
    display: flex;
    flex-wrap: nowrap;
  }

  .header__auth a {
    text-decoration: none;
    color: #000;
  }

  .header__nav-link-shop {
    margin-right: 25px;
  }

  .header__nav-link-entry {
    margin-right: 30px;
  }

  .header__hamburger-menu {
    width: 24px;
    height: 17px;
  }

  /* "Эффекты наведения" */
  .header__nav-link-modelx:hover,
  .header__nav-link-model3:hover,
  .header__nav-link-roadster:hover,
  .header__nav-link-energy:hover,
  .header__nav-link-shop:hover,
  .header__nav-link-entry:hover {
    color: #e51937;
    padding-bottom: 0;
    border-bottom: solid 2px #e51937;
    border-radius: 0 0 10px 10px / 0 0 2px 2px;
  }

  /* Окончание стилей для header */

  /* Начало стилей для intro */

  .intro__title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
  }

  .intro__title {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 90px;
    padding: 0;
    margin: 0;
  }

  .intro__subtitle {
    font-family: 'Montserrat-Medium', arial, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0;
    margin: -12px 0 26px 0;
  }

  .intro__car-img {
    max-width: 100%;
    position: relative;
    right: 35px;
  }

  .intro {
    background-image: url(img/svg/Tesla-Wordmark-Red.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }

  /* Блок 2,7сек 0-100км/ч */

  .intro__feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
  }

  .intro__speedometr {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    width: 180px;
    padding: 0;
  }

  .intro__speedometr img {
    width: 46px;
    height: 35px;
    padding: 0 14px 0 0;
    align-self: flex-end;
    position: relative;
    bottom: -8px;
  }

  .intro__speedometr .intro__numbers {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 35px;
    align-self: flex-end;
    padding: 0 6px 0 0;
  }

  .intro__speedometr .intro__units {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
    align-self: flex-end;
  }

  .intro__speedometr .intro_data {
    font-size: 12px;
    font-family: 'Montserrat-Regular', arial, sans-serif;
    margin: 0 0 0 60px;
    align-self: flex-start;
  }

  /* Блок 632км запас хода */

  .intro__road {
    display: flex;
    align-items: center;
    margin: 0 97px 0 0;
    padding: 0;
    width: 160px;
    flex-wrap: wrap;
  }

  .intro__road img {
    margin: 0 12px 0 0;
    padding: 0;
    position: relative;
    top: 6px;
    left: 6px;
  }

  .intro__road .intro__numbers {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 35px;
    margin: 0 7px 0 0;
    padding: 0 0 15px 0;
  }

  .intro__road .intro__units {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
    padding: 0 0 10px 0;
  }

  .intro__road .intro_data {
    font-size: 12px;
    font-family: 'Montserrat-Regular', sans-serif;
    margin: -22px 0 0 55px;
  }

  /* Блок Тест Драйв */

  .intro__steering-wheel {
    display: flex;
    align-items: center;
    margin: 0 43px 0 0;
  }

  .intro__img-steerengred {
    display: none;
  }

  .intro__steering-wheel img {
    width: 22px;
    height: 22px;
    margin-right: 7px;
  }

  .intro__steering-wheel span {
    font-family: 'Montserrat-Bold', arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
  }

  /* Кнопка ЗАКАЗАТЬ */

  .intro__button {
    box-sizing: border-box;
    border: 2px solid #e51937;
    width: 160px;
    height: 40px;
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #e51937;
    background-color: white;
    margin: 0 0 3px 0;
  }

  .intro__button:hover {
    color: white;
    background-color: #e51937;
    cursor: pointer;
  }

  /* Указатель */

  .intro__daw {
    display: flex;
    justify-content: center;
    margin: 0 0 37px 0;
  }

  /* Окончанияе стилей для intro */

  /* Начало второй секции сайта */
  .future-drive {
    display: flex;
    color: #fff;
  }

  .future-drive__title-bg-img {
    display: none;
  }

  .future-drive__title-bg {
    width: 69.5%;
    background-image: url(img/svg/2013-tesla-model-s-cockpit.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  .future-drive__title-first {
    margin: 58px 0 0 0;
    padding-left: 7.5%;
    color: #e51937;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 70px;
  }

  .future-drive__info {
    width: 30.5%;
    background-color: #e51937;
  }

  .future-drive__info-text {
    display: block;
    width: 74%;
    margin-top: 49px;
    margin-left: 11%;
  }

  .future-drive__title-second {
    font-size: 30px;
    color: #fff;
    font-family: 'Montserrat-SemiBold', sans-serif;
    margin-bottom: 6px;
  }

  .future-drive__description {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 54px;
  }

  .future-drive__display-description {
    font-size: 12px;
    font-family: 'Montserrat-Regular', sans-serif;
  }

  .future-drive__display {
    display: flex;
    width: 50%;
    margin-left: 11.75%;
    margin-bottom: 35px;
  }

  .future-drive__numbers {
    font-size: 35px;
    font-family: 'Montserrat-SemiBold', sans-serif;
    padding-right: 7px;
  }

  .future-drive__inch {
    font-size: 20px;
    font-family: 'Montserrat-SemiBold', sans-serif;
  }

  .future-drive__img-display {
    padding-top: 13px;
    padding-right: 19px;
    width: 22%;
  }

  .future-drive__wifi {
    display: flex;
    width: 55%;
    margin-left: 12%;
    margin-bottom: 25px;
  }

  .future-drive__wifi-descripton {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
    padding-top: 5px;
    line-height: 1.1;
  }

  .future-drive__img-wifi {
    padding-top: 22px;
    padding-right: 25px;
    width: 40%;
    height: 30%;
  }

  .future-drive__wireless {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
  }

  .future-drive__bag {
    display: flex;
    width: 50%;
    margin-left: 12%;
    margin-bottom: 171px;
  }

  .future-drive__bag-description {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 12px;
  }

  .future-drive__img-bag {
    width: 35%;
    padding-top: 15px;
    padding-right: 20px;
  }

  .future-drive__litr {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 20px;
  }

  .future-drive__learn-more {
    display: flex;
    margin-left: 12%;
    margin-bottom: 73px;
    margin-right: 53px;
  }

  .future-drive__learn-more-img {
    padding-top: 9px;
    padding-right: 9px;
  }

  .future-drive__learn-more-info {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 	13px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-right: 8.5%;
  }

  .future-drive__learn-more-info:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .future-drive__button {
    color: #fff;
    background: #E51937;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    width: 169%;
    height: 129%;
  }

  .future-drive__button:hover {
    background: #fff;
    color: #e51937;
    cursor: pointer;
  }

  /* Начало стилей для третьей секции сайта */

  .safety {
    display: flex;
    width: 100%;
  }

  .safety__description {
    width: 30.5%;
    background: #E51937;
    color: #fff;
    padding-top: 51px;
  }

  .safety__description-text h4 {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0 0 10px 13%;
  }

  .safety__description-text p {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    width: 75%;
    margin: 0 0 60px 13%;
  }

  .safety__front-gradeDefense {
    display: block;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 30px;
    margin: 0 0 23px 13%;
    padding: 0 0 0 0;
  }

  .safety__front {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  .safety__front-text {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 14% 0 13%;
  }

  .safety__side {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .safety__side-text {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 19.5% 0 13%;
 }

  .safety__pillar {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }

  .safety__pillar-text {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 5.5% 0 13%;
  }

  .safety__pillar-text-add {
    font-size: 10px;
  }

  .safety__driver {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .safety__driver-text {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 11% 0 13%;
  }

  .safety__passenger {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .safety__passenger-text {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 9.5% 0 13%;
  }

  .safety__grade {
    display: flex;
    margin-left: 15%;
    align-items: center;
    margin-bottom: 61px;
  }

  .safety__grade-img {
    display: inline-block;
    width: 23%;
    margin-right: 25px;
  }

  .safety__grade-text {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 50px;
  }

  .safety__secure-text {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 25px;
    display: inline-block;
    margin-top: -10px;
  }

  .safety__learn-more {
    display: flex;
    margin-left: 8.5%;
    align-items: center;
  }

  .safety__learn-more-img {
    padding-right: 5px;
  }

  .safety__learn-more-info {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    padding-right: 35px;
  }

  .safety__button {
    color: #fff;
    background: #E51937;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
    height: 40px;
    width: 160px;
  }

  /* Иллюстрация справа в третьей секции */

  .safety__illustration {
    width: 69.5%; 
    background-image: url(img/ico/model-s-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 19%;
    background-size: 79%;
  }

  .safety__illustration-pointerLeft-imgSecond {
    display: none;
  }

  .safety__illustration-pointerCenter-imgSecond {
    display: none;
  }

  .safety__illustration-pointerBottom-imgSecond {
    display: none;
  }

  .safety__illustration-car-frame-img {
    width: 105%;
    height: auto;
    position: relative;
    top: 220px;
    right: 9.5%;
    margin-bottom: 17px;
  }

  .safety__illustration__pointerall {
    display: flex;
  }

  .safety__illustration-pointerLeft img {
    width: 100%;
    height: auto;
    position: relative;
    left: 88%;
    bottom: 346px;
  }

  .safety__illustration-pointerCenter {
    position: relative;
    bottom: 387px;
    left: 25.5%;
  }

  .safety__illustration-pointerCenter span {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 140px;
    left: 8%;
    display: flex;
    width: 75%;
    line-height: 1;
  }

  .safety__illustration-pointerBottom {
    position: relative;
    left: 10.5%;
    top: 26px;
  }

  .safety__illustration-pointerBottom span {
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 35px;
    left: 4%;
    display: flex;
    width: 75%;
    line-height: 1;
 }

  .safety__illustration-logo {
    display: flex;
    width: 5%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-left: 89%;
    margin-bottom: 10px;
  }

  .safety__illustration-logo-dev {
    width: 165%;
    height: auto;
    margin-left: 87%;
    margin-right: 7px;
    margin-bottom: 7px;
  }

  .safety__illustration-logo-whs {
    margin-left: 87%;
    margin-right: 2px;
  }

  /* ******************************************** */

@media (max-width: 1439px) {
  .header__nav {
    margin: 0 auto;
  }
}

@media (max-width: 1150px) {
  .header__menu-bar {
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 80px;
  }

  .header__hamburger-menu {
    width: 35px;
    height: 22px;
  }

  .header__nav-link-models {
    margin-right: 10px;
    padding: 0;
  }

  .header__nav-link-modelx {
    margin-right: 10px;
  }

  .header__nav-link-model3 {
    margin-right: 10px;
  }

  .header__nav-link-roadster {
    margin-right: 10px;
  }

  .header__nav-link-shop {
    margin-right: 10px;
  }

  .header__nav-link-entry {
    margin-right: 10px;
  }
}

@media (max-width: 1100px) {
  .intro__car-img {
    right: 0;
  }
}

@media (max-width: 870px) {
  .header__nav {
    display: none;
  }

  .header__auth .header__nav-link-shop,
  .header__auth .header__nav-link-entry {
    display: none;
  }
}

/* Начало стилей для Ipod */

@media (max-width: 822px) {
  .header__menu-bar {
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 80px;
  }

  .header__nav {
    display: none;
  }

  .header__auth .header__nav-link-shop,
  .header__auth .header__nav-link-entry {
    display: none;
  }

  .header__hamburger-menu {
    width: 35px;
    height: 22px;
  }

  /* ******************************************************************** */

  .intro {
    width: 100%;
    background-image: url(img/svg/Tesla-Wordmark-Red-Ipod.png);
    background-repeat: no-repeat;
    background-position: 0 19%;
    background-size: 100%;
  }

  .intro__car-img {
    width: 672.6px;
    height: 327.64px;
    top: 54px;
    left: 11px;
  }

  .intro__title-subtitle {
    margin-bottom: 95px;
  }

  .intro__feature {
    max-width: 822px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 64px 0;
  }

  .intro__speedometr .intro__units {
    padding-bottom: 8px;
    padding-left: 4px;
    font-size: 20px;
  }

  .intro__road {
    width: 180px;
    margin: 0 100px 58px 0;
  }

  /* ****************************************** */

  .intro__speedometr {
    margin: 0 81px 55px 80px;
    width: 200px;
  }

  .intro__speedometr img {
    width: 67px;
    height: 50px;
  }

  .intro__speedometr .intro__numbers {
    font-size: 50px;
  }

  .intro__speedometr .intro_data {
    margin: 0 0 0 80px;
  }

  /* ************************************************************************ */

  .intro__road .intro__numbers {
    font-size: 50px;
  }

  /* ************ */

  .intro__steering-wheel {
    margin: 0 35px 0 0;
  }

  .intro__img-steerengblack {
    display: none;
  }

  .intro__img-steerengred {
    display: inline;
    padding-left: 13px;
    padding-right: 18px;
  }

  .intro__steering-wheel span {
    color: #e51937;
    font-size: 16px;
  }

  .intro__road .intro__units {
    padding-bottom: 0;
    padding-top: 5px;
  }

  /* **************** */

  .intro__button {
    width: 221px;
    height: 55px;
    margin: 0;
    font-size: 16px;
    color: white;
    background-color: #e51937;
  }
}

/* Окончание стилей для Ipod */

@media (max-width: 768px) {
  .header__menu-bar {
    margin-right: 33px;
  }

  .intro__speedometr {
    margin-left: 115px;
    margin-right: 75px;
  }

  .intro__road {
    width: 220px;
    margin-bottom: 60px;
  }

  .intro__road img {
    margin-right: 12px;
    width: 55px;
    height: 75px;
    top: 12px;
    left: 2px;
  }

  .intro__road .intro__numbers {
    margin-right: 10px;
  }

  .intro__road .intro_data {
    margin-left: 65px;
  }

  .intro__steering-wheel {
    margin-right: 35px;
  }

  .intro__steering-wheel .intro__img-steerengred {
    padding: 0;
    padding-right: 33px;
    margin: 0;
  }

  .intro__steering-wheel span {
    padding-top: 5px;
  }

  .future-drive {
    flex-direction: column;
  }

  .future-drive__title-bg {
    width: 100%;
    background-image: url(img/ico/2013-tesla-model-s-cockpit768px.png);
  }

  .future-drive__title-first {
    width: 100%;
    margin: 0;
    padding: 4% 0 53% 57%;
  }

  .future-drive__info {
    width: 100%;
  }

  .future-drive__foripod {
    display: flex;
    margin-bottom: 12px;
  }

  .future-drive__info-text {
    margin: 0;
    width: 64%;
    padding: 3.5% 0 0 4.5%;
  }

  .future-drive__title-second {
    margin-bottom: 22px;
  }

  .future-drive__description {
    margin: 0;
    width: 95%;
    line-height: 120%;
  }

  .future-drive__displayforipod{
    margin: 68px 0 65px 0;
    padding: 0;
  }

  .future-drive__display {
    width: 60%;
    margin: 0 0 18px 22%;
    padding: 0;
  }

  .future-drive__img-display {
    padding: 0 9% 0 0;
    width: 19%;
    height: 12%;
  }

  .future-drive__display-description {
    margin: -11px 0 0 0;
  }

  .future-drive__wifi {
    width: 60%;
    margin: 0 0 20px 21%;
    padding: 0;
  }

  .future-drive__img-wifi {
    width: 57%;
    padding-right: 20px;
  }

  .future-drive__bag {
    width: 60%;
    margin: 0 0 0 23%;
    padding: 0;
  }

  .future-drive__img-bag {
    width: 28%;
    height: 29%;
  }

  .future-drive__learn-more {
    margin: 0 0 64px 20%;
  }

  .future-drive__learn-more-img {
    width: 5%;
    padding: 12px 13px 0 0;
  }

  .future-drive__learn-more-info {
    font-size: 16px;
    padding: 18px 7% 0 0;
  }

  .future-drive__button {
    width: 200%;
    font-size: 16px;
  }

  /* Старт 3ий секции */

  .safety {
    flex-direction: column-reverse;
  }

  .safety__illustration {
    width: 100%;
    margin: 0;
  }

  .safety__illustration-logo {
    display: none;
  }

  .safety__illustration-car-frame-img {
    margin: 0;
    padding: 100px 0 0 0;
    width: 98%;
    position: relative;
    top: 14px;
    right: 18px;
  }

  .safety__illustration { 
    background-image: none;
    background-repeat: no-repeat;
    background-position: 100% 19%;
    background-size: 79%;
  }

    .safety__illustration-car-frame {
    background-image: url(img/ico/ModelS_background_for_ipod.png);
    background-repeat: no-repeat;
    background-position: top 69px center;
  }

  /* Старт Указатели на изображении */

  .safety__illustration-pointerLeft-imgSecond {
    display: block;
  }

  .safety__illustration-pointerCenter-imgSecond {
    display: block;
  }

  .safety__illustration-pointerBottom-imgSecond {
    display: block;
  }

  .safety__illustration-pointerLeft-imgFirst {
    display: none;
  }

  .safety__illustration-pointerLeft {
    position: relative;
    left: 50px;
    bottom: 32px;
  }

  .protection2\.png {
    display: none;
  }

  .safety__illustration-pointerCenter {
    position: relative;
    bottom: 387px;
    left: 22.75%;
}

  .safety__illustration-pointerCenter-imgSecond {
    position: relative;
    left: 58px;
    bottom: 24px;
  }

  .safety__illustration-pointerCenter span {
    font-size: 15px;
    left: 70px;
    bottom: 125px;
    width: 70%;
  }

  .protection3\.png {
    display: none;
  }

  .safety__illustration-pointerBottom {
    position: relative;
    left: 11.5%;
    top: -117px;
  }

  .safety__illustration-pointerBottom span {
    font-size: 15px;
    left: 7.5%;
    bottom: 44px;
    width: 50%;
  }

  /* Конец Указатели на изображении */

  .safety__description {
    width: 100%;
    padding: 0;
    margin: -159px 0 0 0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .safety__description-text {
    width: 50%;
    padding: 64px 0 0 0;
  }

  .safety__description-text h4 {
    padding: 0 0 12px 10%;
    margin: 0;
  }

  .safety__description-text p {
    width: 85%;
    padding: 0 0 0 10%;
    margin: 0;
  }

  .safety__foripod {
  	width: 50%;
  }

  .safety__front-text {
    margin: 0 17% 0 10%;
  }

  .safety__side-text {
    margin: 0 22.5% 0 10%;
  }

  .safety__front-gradeDefense {
    padding: 64px 0 25px 10%;
    margin: 0;
  }

  .safety__pillar-text {
    margin: 0 6% 0 10%;
  }

  .safety__driver-text {
    margin: 0 13% 0 10%;
  }

  .safety__passenger-text {
    margin: 0 11% 0 10%;
  }

  .safety__passenger {
    margin-bottom: 69px;
  }

  .safety__grade {
    display: none;
  }

  .safety__learn-more {
    margin: 0 0 63px 20%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .safety__learn-more-img {
    padding: 4px 11px 0 0;
    width: 7%;
  }

  .safety__learn-more-info {
    font-size: 16px;
    padding: 0 8px 0 0;
    width: 200px;
  }

  .safety__button {
    font-size: 16px;
    height: 54px;
    width: 220px;
  }
}

@media (max-width: 710px) {
  .intro__speedometr {
    margin: 0 50px 35px 5px;
    width: 200px;
  }

  .intro__road {
    width: 180px;
    margin: 0 40px 35px 0;
  }

  .intro__speedometr .intro__numbers {
    font-size: 32px;
  }

  .intro__speedometr .intro__units {
    padding-bottom: 2px;
  }

  .intro__road .intro__numbers {
    font-size: 32px;
    padding-bottom: 2px;
  }

  .intro__steering-wheel {
    padding-right: 15px;
    margin-right: 45px;
    margin-left: 15px;
  }

  .intro__button {
    width: 180px;
    height: 50px;
    margin: 0;
    font-size: 15px;
    color: white;
    background-color: #e51937;
  }
}

@media (max-width: 475px) {
  .header__menu-bar {
    margin: 5px 21px 26px 2px;
  }

  .header_logo__img {
    width: 138px;
    height: 42px;
  }

  .header_logo__link {
    margin: 0;
  }

  .header__auth {
    padding-right: 6px;
  }

  .header__hamburger-menu {
    width: 24px;
    height: 15px;
  }

  .intro__title {
    font-size: 50px;
    padding-right: 5px;
    margin-bottom: 10px;
  }

  .intro__subtitle {
    font-size: 10px;
    padding-right: 5px;
    margin-bottom: 49px;
  }

  .intro {
    background-position: 0% 17.5%;
  }

  .intro__car-img {
    width: 357px;
    height: 166px;
    top: 0;
    left: 0;
  }

  .intro__title-subtitle {
    margin-bottom: 18px;
  }

  /* ************************************* */

  .intro__feature {
    align-items: center;
    margin-bottom: 28px;
  }

  .intro__speedometr {
    margin: 0 42px 42px 0;
    width: 130px;
  }

  .intro__speedometr img {
    width: 38px;
    height: 28px;
  }

  .intro__speedometr .intro__numbers {
    font-size: 27px;
  }

  .intro__speedometr .intro__units {
    font-size: 15px;
  }

  .intro__speedometr .intro_data {
    font-size: 10px;
    margin: 0 0 0 55px;
  }

  /* **************************************** */

  .intro__road {
    margin: 0 0 43px 0;
    width: 125px;
  }

  .intro__road img {
    width: 30px;
    height: 49px;
    padding: 0;
    margin: 0 14px 0 0;
  }

  .intro__road .intro__numbers {
    font-size: 27px;
    padding-bottom: 0;
  }

  .intro__road .intro__units {
    font-size: 15px;
  }

  .intro__road .intro_data {
    font-size: 10px;
    margin: -10px 0 0 45px;
  }

  /* ******************************************** */

  .intro__steering-wheel {
    margin: 0 5px 0 35px;
  }

  .intro__steering-wheel span {
    font-size: 13px;
  }

  .intro__img-steerengred {
    width: 22px;
    height: 22px;
    padding: 0 0 10px 10px;
    margin: 0;
  }

  .intro__steering-wheel .intro__img-steerengred {
    padding: 0;
    padding-right: 13px;
    margin: 0;
  }

  .intro__button {
    width: 160px;
    height: 40px;
    font-size: 13px;
    margin: 0 36px 0 0;
  }
}

@media (max-width: 375px) {
  .header__auth {
    padding: 0;
  }

  .intro__feature {
    margin: 0 0 30px 0;
  }

  .intro__speedometr {
    margin-right: 35px;
  }

  .intro__speedometr .intro__units {
    padding: 0;
  }

  .intro__speedometr .intro_data {
    margin-left: 50px;
  }

  .intro__road > img:nth-child(1) {
    margin-right: 9px;
    top: 10px;
    left: -1px;
  }

  .intro__road .intro__numbers {
    padding: 0;
    margin-right: 7px;
  }

  .intro__road .intro_data {
    margin: -10px 0 0 38px;
    padding: 0;
  }

  .intro__steering-wheel {
    margin: 0 0 0 23px;
    padding: 0 0 0 10px;
  }

  .intro__steering-wheel .intro__img-steerengred {
    padding: 0 10px 0 0;
  }

  .intro__steering-wheel > span:nth-child(3) {
    padding: 0 0 0 0;
  }

  .intro__form-button {
    margin: 0 0 0 23px;
  }

  .intro__daw {
    margin: 0 0 0 0;
  }

  .future-drive__title-first {
    display: none;
  }

  .future-drive__title-bg-img {
    display: block;
  }

  .future-drive__displayforipod {
    display: none;
  }

  .future-drive__info-text {
    margin: 0;
    width: 99%;
    padding: 0;
  }

  .future-drive__title-second {
    margin: 4px 0 10px 7%;
    padding: 0;
  }

  .future-drive__description {
    margin: 0 0 0 25px;
    padding: 0;
    width: 87%
  }

  .safety__illustration {
    width: 100%;
    margin: 0 0 62px 0;
  }

  .safety__description {
    margin: -225px 0 0 0;
  }

  .safety__description-text {
    width: 100%;
    padding: 0;
  }

  .safety__description-text h4 {
    padding: 18px 0 12px 30px;
    margin: 0;
  }

  .safety__description-text p {
    width: 85%;
    padding: 0 0 72px 30px;
    margin: 0;
  }

  .safety__illustration-car-frame-img {
    margin: 0;
    padding: 100px 0 0 0;
    width: 98%;
    position: relative;
    top: 5px;
    right: 5px;
  }

  .safety__illustration-car-frame {
    background-image: url(img/ico/Model_Sbackground375px.png);
    background-repeat: no-repeat;
    background-position: top 74px center ;
  }

  .safety__illustration__pointerall {
    display: block;
  }

  .safety__illustration-pointerLeft {
    width: 18%;
    position: relative;
    left: 86px;
    bottom: 192px;
  }

  .safety__illustration-pointerLeft img {
    position: static;
    width: 100%;
  }

  .safety__illustration-pointerCenter {
    position: static;
    display: inline-block;
    position: relative;
    bottom: 302px;
    left: 184px;
  }

  .safety__illustration-pointerCenter-imgSecond {
    position: static;
    display: inline-block;
    width: 5%;
  }

  .safety__illustration-pointerCenter span {
    display: inline-block;
    font-size: 7px;
    position: relative;
    bottom: 32px;
    left: -5px;
    width: 50%;
  }

  .safety__illustration-pointerBottom {
    position: relative;
    left: 203px;
    top: -210px;
  }

  .safety__illustration-pointerBottom-imgSecond {
    display: inline-block;
    width: 1.5%;
  }

  .safety__illustration-pointerBottom span {
    display: inline-block;
    font-size: 7px;	
    position: relative;
    top: 7px;
    left: -5px;
    width: 22%;
  }

  /* ************************ */

  .future-drive__learn-more {
    display: none;
  }

  .safety__foripod {
    display: none;
  }

  .safety__learn-more {
    display: none;
  }

}
